// Gradient 
.gradient-primary {
	@include linear-gradient(left, #ca7eeb, #df7690);
}
.gradient-secondary {
	@include linear-gradient(left, #ff9884, #ffb74f);
}
.gradient-tertiary {
	@include linear-gradient(left, #9da7fb, #6eb4f8);
}
.gradient-quaternary {
	@include linear-gradient(left, #7ed4aa, #81d5ed);
}
// Flex state
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
// Color state
.icon--white {
	color: white;
}
.icon--gray {
	color: #ccccd7;
}
// Logo
.header__logo {
	letter-spacing: .5px;
	font-size: 1em;
}
// Hidden on mobile
.topbar-nav__username,
.form__search-input {
	display: none;
	// Visible on desktop
	@media screen and (min-width: $breakpoint-med) {
		display: block;
	}
}
.form__search-input {
	padding: 15px 10px;
    color: white;
}
@include placeholder {
	font-weight: $light;
    color: white;
}
.topbar-nav__panel--notif {
	position: relative;
	border-left: 1px solid #a2c2fa;
	border-right: 1px solid #a2c2fa;
}
.topbar-nav__panel--notif::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #a1ffff;
    top: 25%;
    right: 28%;
}
.topbar-nav__username {
	font-weight: $light;
	color: white;
	padding-right: 1.5em;
}
// Usericon
.topbar-nav__usericon {
    background: #9b9b9b;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}
// Sidebar nav link
.sidebar-nav__link, 
.sidebar-nav__title {
	display: block;
	width: 100%;
	text-align: center;
}
// Sidebar nav icon
.sidebar-nav__icon {
	font-size: 1.3em;
	margin-bottom: 5px;
}
.nav__item-current .sidebar-nav__icon {
	@include text-gradient(top, #9da7fb, #6eb4f8);
}
// Main title
.main__title {
	font-weight: $regular;
}
// Card-item title 
.card__item__title {
	font-weight: $regular;
	margin: .5em 0;
	letter-spacing: .3px;
}
// Border line top
.card__item-border-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
}
// Badge item
.task__badge {
	letter-spacing: .5px;
	font-size: .93em;
	font-weight: $light;
	color: white;
	padding: .3em 2em; 
	border-radius: 5px;
}
// Task-item title
.task__item__title {
	font-weight: $regular;
	font-size: .93em;
}
// Task-footer user
.task__footer__user {
    grid-column-start: 4;
    grid-column-end: 5;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
// Counter
.task__footer__counter {
	padding-left: 7px;
}
// Add task
.card__item--add {
	display: block;
	width: 100%;
	text-align: center;
}
.card__item--addtask {
	letter-spacing: .3px;
	color: $color-task;
	font-weight: $regular;
}
// Main add 
.main__addcard {
	@include box-shadow(0px 8px 30px 0px rgba(0,0,0,0.2));
	position: fixed;
    bottom: 4%;
    right: 5%;
	background: $color-primary;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.main__addcard-icon {
	color: white;
	font-size: 2em;
    margin-top: -3px;
    display: block;
}