// standard layout & styling
@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2; 
  /* fallback color */
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2)); 
  /* saf4+, chrome */
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2); 
  /* chrome 10+, saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient($angle, $gradient1, $gradient2); 
  /* FF3.6 */
  background-image: -ms-linear-gradient($angle, $gradient1, $gradient2); 
  /* IE10 */
  background-image: -o-linear-gradient($angle, $gradient1, $gradient2); 
  /* Opera 11.10+ */
  background-image: linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}
// animation
@mixin transition($value) {
  -webkit-transition: $value;
  transition: $value;
}
@mixin transform($value) {
  -o-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}
// placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}