// Variables
$font-stack: Roboto, sans-serif;
// Font weights
$regular: 400;
$semi-bold: 500;
$bold: 700;
// Colors
$color-primary: #707090;
$background: #eef2f9;
$background-logo: #7f91db;
// Breakpoints
$breakpoint-small: 600;
$breakpoint-med-small: 960;
$breakpoint-med: 1175;
