// Variables
$font-stack: Roboto, sans-serif;
// Font weights
$light: 300;
$regular: 400;
$semi-bold: 500;
// Colors
$color-primary: #707090;
$color-task: #cacfd6;
$background-main: #eef2f9;
$background-logo: #7f91db;
$background-card: #f6f8fc;
// Breakpoints
$breakpoint-small: 600px;
$breakpoint-med: 960px;
