// Google font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
// Styles
body {
  font-family: $font-stack;
  font-weight: $regular;
  font-size: 1em;
  background: $background-main;
  color: $color-primary;
}
header {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
}
main {
	position: relative;
	width: 90%;
	margin: 1em auto 6em;
}
